@media (min-width: 1366px){
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido p {
    color: var(--blanco);
    text-align: center;
}

.contenido a {
    padding: .5rem 1rem;
    text-decoration: none;
    color: var(--negro);
    background-color: var(--primary);
    transition: all .3s;
}

.contenido a:hover {
    filter: brightness(85%);
    color: var(--blanco);
}

@media (min-width: 1366px){
    .contenido {
        grid-column: 2/3;
    }
}