.footer {
    background-color: var(--negro);
    padding: 5rem 0;
    margin-top: 5rem;
}

@media (min-width: 768px){
    .contenido {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.contenido p {
    text-align: center;
    color: var(--blanco);
    font-weight: 700;
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px){
    .navegacion {
        flex-direction: row;
        gap: 2rem;
    }
}

.navegacion a {
    color: var(--blanco);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition-property: color;
    transition-duration: .5s;
}

.navegacion a:hover {
    color: var(--primary);
}