
.guitar {
    border: 2px solid #f6f6f6;
    padding: 1rem;
    max-width: 70rem;
    margin: 2rem auto 0 auto;
}
.guitar h2 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}
.guitar a {
    display: block;
    text-align: center;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: var(--negro);
    color: var(--blanco);
    transition: all .3s;
}
.guitar a:hover {
    background-color: var(--primary);
    color: var(--negro);
}

.contenido {
    display: grid;
    justify-content: center;
}
@media (min-width: 360px){
    .contenido {
        grid-template-columns: 2fr 3fr;
        column-gap: 1rem;
        align-items: center;
    }
}


.descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-align: justify;
}

.precio {
    color: var(--primary);
    font-weight: 900;
}

.formulario {
    margin-top: 2rem;
}


.formulario input[type="number"] {
    border: 2px solid #f6f6f6;
    padding: 1rem;
    text-align: center;
}
.formulario input[type="submit"] {
    border: none;
    background-color: var(--negro);
    padding: 1rem;
    color: var(--blanco);
    transition: all .3s;
}
.formulario input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--negro);
}
.campos {
    display: flex; 
    flex-direction: column;
    gap: 1rem;
}
@media (min-width: 768px){
    .campos {
        flex-direction: row;
        justify-content: center;
    }
}