.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url('../public/img/header.jpg');
    background-size: cover;
    background-position: 50%;
    padding: 5rem 0;
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
@media (min-width: 768px){
    .barra {
        flex-direction: row;
        justify-content: space-between;
    }
}

.logo:hover {
    cursor: pointer;
}

.navegacion {
    display: flex;
    gap: 2rem;
}

.navegacion a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: .3s;
}
.navegacion a:hover {
    color: var(--primary);
}

.modelo {
    color: var(--blanco);
    margin-top: 5rem;
    text-align: center;
}

@media (min-width: 768px){
    .modelo {
        text-align: left;
        width: 50%;
    }
}

.modelo h1 {
    font-size: 8rem;
}

.modelo p:first-of-type {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 2.2rem;
}
.modelo p:last-of-type {
    color: var(--primary);
    font-weight: 900;
}

.modelo a {
    padding: .5rem 1rem;
    text-decoration: none;
    color: var(--negro);
    background-color: var(--primary);
    transition: all .3s;
}

.modelo a:hover {
    filter: brightness(85%);
    color: var(--blanco);
}