.listado {
    display: grid;
    gap: 4rem;
}

@media (min-width: 768px){
    .listado {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1440px){
    .listado {
        grid-template-columns: repeat(4, 1fr);
    }
}